#election-map {
  width: 100%;
  height: 700px;
  border: 2px solid lighten($color: orange, $amount: 20);
  &.z4,&.z3,&.z2,&.z1 {
    path.county {
    }
  }
}

.custom-control {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.county-info h4 {
    margin: 0 0 5px;
    color: #777;
}

.no-pointer-events {
  pointer-events: none !important;
}

